@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Space+Mono:wght@700&display=swap');
:root {
    --prim-strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
    --form-input-size: 24px;
    --space-mono: 'Space Mono', monospace;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: var(--space-mono);
}

body {
    background-color: var(--light-grayish-cyan);
}

header {
    text-transform: uppercase;
    text-align: center;
    color: var(--dark-grayish-cyan);
    padding-top: 50px;
}

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    min-width: 40%;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 1px 1px 20px 2px grey;
}

#panel-one, #panel-two {
    min-width: 50%;
}

.container {
    max-width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container label {
    display: block;
    font-size: var(--form-input-size);
    color: var(--grayish-cyan);
    margin-top: 5px;
    margin-bottom: 5px;
}

#panel-one #bill {
    border-radius: 5px;
    border: solid 1px transparent;
    background-color: var(--very-light-grayish-cyan);
    padding: 10px;
    background-image: url(..//images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 10px;
    direction: rtl;
    width: 100%;
}

#panel-one #bill::placeholder {
    text-align: right;
    color: lightgray;
}

#panel-one #bill:hover {
    cursor: pointer;
}

#panel-one .buttons {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 0.5fr));
    gap: 10px;
}

#panel-one .button {
    padding: 5px 10px;
    background-color: var(--very-dark-cyan);
    border: solid 1px transparent;
    border-radius: 5px;
    color: var(--white);
}

#panel-one .button:hover {
    cursor: pointer;
    color: var(--very-dark-cyan);
    background-color: var(--light-grayish-cyan);
}

#panel-one .button:focus {
    background-color: var(--prim-strong-cyan);
}

#panel-one #custom-input {
    border-radius: 5px;
    border: solid 1px transparent;
    background-color: var(--very-light-grayish-cyan);
    padding-left: 5px;
}

#panel-one #custom-input:hover {
    cursor: pointer;
}

#panel-one #number-of-people {
    border-radius: 5px;
    border: solid 1px transparent;
    background-color: var(--very-light-grayish-cyan);
    padding: 10px;
    background-image: url(..//images/icon-person.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 10px;
    direction: rtl;
    width: 100%;
}

#panel-one #number-of-people::placeholder {
    text-align: right;
    color: lightgray;
}

#panel-one #number-of-people:hover {
    cursor: pointer;
}

#panel-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: var(--very-dark-cyan);
    padding: 5px 30px;
    border-radius: 10px;
}

#panel-two .sub-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 10px;
}

#panel-two .sub-container span {
    display: block;
}
#panel-two .tip-amount {
    color: var(--white);
}
#panel-two .per-person {
    color: grey;
    font-size: 13px;
}
#panel-two .calc-values{
    color: var(--prim-strong-cyan);
    font-size: 35px;
}

#panel-two .sub-container-controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 100px;
}

#panel-two #calculate-button, #panel-two #reset-button {
    color: var(--very-dark-cyan);
    background-color: var(--prim-strong-cyan);
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 20px;
    text-transform: uppercase;
    width: 110%;
}

#panel-two #calculate-button:hover, #panel-two #reset-button:hover {
    cursor: pointer;
    color: var(--very-dark-cyan);
    background-color: var(--light-grayish-cyan);
}

@media (max-width: 1160px) {
    
    #panel-two .tip-amount {
        font-size: 13px;
    }
    #panel-two .per-person {
        font-size: 10px;
    }
    
    #panel-two .calc-values{
        font-size: 20px;
    }
    
    .container label {
        font-size: 15px;
    }
    
    #main {
        flex-direction: column;
        top: 70%;
    }

}



