@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
    --linear-gradient : linear-gradient(to right, hsl(236, 72%, 79%),hsl(237, 63%, 64%));
    --very-light-grayish-blue : hsl(234, 14%, 74%);
    --light-grayish-blue : hsl(234, 14%, 74%);
    --grayish-blue : hsl(233, 13%, 49%);
    --dark-grayish-blue : hsl(232, 13%, 33%);
    --document-font : 'Montserrat', sans-serif;
    --document-font-size : 15px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--linear-gradient);
    background-image: url(../images/bg-top.svg), url(../images/bg-bottom.svg);
    background-position: right top, left bottom;
    background-repeat: no-repeat, no-repeat;
    height: 100vh;
    font-family: var(--document-font);
    font-size: var(--document-font-size);
}

h1 {
    color: var(--grayish-blue);
    text-align: center;
}

.toggler-container  p {
    color: var(--light-grayish-blue);
}

.card h3 {
    color: var(--grayish-blue);
}

.card ul {
    color: var(--grayish-blue);
    list-style: none;
}

.card span {
    color: var(--dark-grayish-blue);
}

.btn {
    text-align: center;
    text-transform: uppercase;
    background-image: var(--linear-gradient);
    border: none;
    color: white;
}