/*
This document is used for the main areas of the website that does not change:
    1. Headers
    2. Footers
    3. Font styles and sizes
*/

@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Macondo', cursive;
}

header {
    text-align: center;
    padding: 3em;
    font-size: 1.5em;
}

span {
    color: white;
}

footer {
    padding: 3em;
    text-align: center;
    background-color: black;
}